
    <title>All about me</title>
  </head>
  <h2>A Page with my Bio</h2>
  <body>
    <p>I am coming to the world of web development after completing university in New York City and working in non-tech roles.
    </p>

  </body>
</html>
