<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All about me</title>
  </head>
  <h2>A Page with my Bio</h2>
  <body>
    <p>This is where I'd go on on an on, but the text does not matter now
    </p>

  </body>
</html>
