

          <div class="container">
            <div id="first-div">
              <!-- change name and time to my name and city and working time zone clock-->
    <h1>Welcome to  <%= @my_app_name %>!</h1>
    <h2> Currently located in <%= @city %> </h2>

        <p>Main menu</p>
        <div id=contacts-div>

          <nav class="nav-contact-bar">

    <ul>
      <!-- please complete me with links to other actions -->

      <li><a href="/portfolio/about/">About Me</a></li>
      <li><a href="/portfolio/work/">My Work</a></li>
      <li><a href="/portfolio/resume/">My Resume</a></li>
      <li><a href="/portfolio/blog">My Blog</a></li>

      </ul>
        </nav>


          </div>

  </div>
