<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' type='text/css' href='/style.css'>">
    <title>Chris Portfolio layout</title>
  </head>
  <body>
    <header>
    <h1 class="header-class">Chris Del : The Best Terrible Designer
    </h1>
      <h6 class="header-class">Some tag to repeat on each page
      </h6>
<!-- google icon for practice -->
        <a>
          <img class="Random_design" src="images.jpg" alt="">
        </a>
      </header>
    <%= yield %>
    <footer class="footer-class">
      <h3>Something in the footer on every page</h3>
      </footer>
  </body>
</html>
